## List : [ ]
 - 순서가 있는 수정이 가능한 데이터 타입

In [25]:
# 리스트 생성
student = [90,95, 85, 80]
student

[90, 95, 85, 80]

In [26]:
type(student)

list

In [27]:
# 변수명[i] : i는 인덱스(위치)
student[0] , student[3], student[-2]

(90, 80, 85)

In [28]:
# 인덱스의 범위를 지정하여 자료 가져오기
student[0:2], student[::2], student[-3:-1], student[:-2], student[2:]

([90, 95], [90, 85], [95, 85], [90, 95], [85, 80])

In [29]:
# 인덱스 i 항목을 새로운 데이터로 변경하고 싶을때
# 2번째 자료를 100으로 바꾸려면
student[1] = 100
student

[90, 100, 85, 80]

In [30]:
# 숫자, 문자열, 불, 리스트를 혼합한 형태의 리스트 가능

mixeList = [0,2,'python', 'program', True, student]
mixeList

[0, 2, 'python', 'program', True, [90, 100, 85, 80]]

In [31]:
# 리스트 연결 : 리스트 + 리스트
# 리스트 반복 : 리스트 * 숫자

list1 = [1,2,3,4]
list2 = [5,6,7,8]
print(list1+list2)
print(list1*3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
# 항목 삭제 : del
list_data = [1,2,3,4,5,6,7,8,9]
del list_data[0]

In [33]:
list_data

[2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# 리스트에서 항목의 존재 여부 확인 : 항목 in 리스트
print(10 in list_data)
print(3 in list_data)

False
True

In [47]:
# 리스트 메서드 : 자료형.메서드이름() , 변수명.메서드이름()
'''
- append()  : 맨 마지막에 추가
- insert()  : 특정위치에 항목을 삽입
- extent()  : 여러개를 마지막에 추가
- remove()  : 입력값과 첫번째로 일치하는 항목을 리스트에서 삭제
- pop()     : 마지막 항목을 제거한 후 반환
- index()   : 인자와 일치하는 것 첫번째 항목의 위치를 반환
- count()   : 인자와 일치하는 항목의 개수를 반환
- sort()    : 순방향으로 정렬
- reverse() : 역순으로 정렬
'''


myFriends = ['James', 'Robert', 'Lisa', 'Mary']

In [48]:
# append
myFriends.append('Thomas')
myFriends

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [40]:
myFriends

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [50]:
# insert(i, data)
myFriends.insert(1, 'Paul')
myFriends

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [54]:
# extend
myFriends.extend(['Laura', 'Betty'])
myFriends

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Laura', 'Betty']

In [58]:
# remove
num = [0,1,2,3,4,3,2,1]
num.remove(3)
num

[0, 1, 2, 4, 3, 2, 1]

In [61]:
#pop
num2 = [0,1,2,3,4]
num_pop = num2.pop()  # 마지막에 잘린 항목을 저장
num2, num_pop

([0, 1, 2, 3], 4)

In [9]:
# index
num3 = [0,1,3,5,5,3,1]
num3.index(3)

2

In [10]:
# count
num4 = [0,1,2,3,3,3,4,4,5]
num4.count(4)

2

In [66]:
# sort 
myFriends.sort()
myFriends

['Betty', 'James', 'Laura', 'Lisa', 'Mary', 'Paul', 'Robert', 'Thomas']

In [67]:
# reverse()
myFriends.reverse()
myFriends

['Thomas', 'Robert', 'Paul', 'Mary', 'Lisa', 'Laura', 'James', 'Betty']

## Tuple : ( )
 - 순서가 있는 수정이 불가능한 데이터 타입

In [2]:
tuple1 = (1,2,3,4)
tuple1, type(tuple1)

((1, 2, 3, 4), tuple)

In [4]:
tuple2 = 5,6,7,8    # 괄호없이 입력해도 튜플로 받음
tuple2, type(tuple2)

((5, 6, 7, 8), tuple)

In [5]:
# 인덱스로 요소 지정 가능
tuple1[0], tuple1[:3]

(1, (1, 2, 3))

In [6]:
# 튜플 메서드 :index, count는 사용가능
#              (삭제, 변경 메서드는 사용 불가능)

In [11]:
# index
tuple3 = ('a', 'b', 'c', 'd', 'c')
tuple3.index('c')

2

In [12]:
tuple3.count('c')

2

## Dictionary : { }
 - 순서가 없고 키:값으로 구성되어 있는 데이터 타입
 - key : 숫자, 문자
 - value : 다양한 데이터 타입

In [13]:
dict_data1 = {1:"버스", 3: "비행기", 4:"택시", 5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [14]:
dict_data1[3]     # key값을 입력하면 value값이 나옴

'비행기'

In [15]:
dict_data2 = {"list_data1":[11,12,13], "list_data2":[21,22,23]}
dict_data2

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}

In [17]:
dict_data2["list_data1"]

[11, 12, 13]

In [18]:
# 데이터 추가 변경 삭제

country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른'}

In [19]:
# 추가
country_capital["독일"] = "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '독일': '베를린'}

In [20]:
# 변경
country_capital["호주"] = "캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [21]:
# 삭제
del country_capital["프랑스"]
country_capital

{'영국': '런던', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [22]:
# 딕셔너리 메서드
'''
- keys() : 키 전체를 리스트 형태로 반환
- values() : 값 전체를 리스트 형태로 반환
- items() : 키와 값의 쌍을 (키,값)의 튜플형태로 반환
- update(dict_data2) : 딕셔너리 데이터 ('dict_data2')를 추가
- clear() : 모든 항목 삭제
'''

fruit_code = {"사과":101, "배":102, "딸기":103}

In [24]:
# keys()
dict_key = fruit_code.keys()
dict_key

dict_keys(['사과', '배', '딸기'])

In [25]:
# values()
dict_value = fruit_code.values()
dict_value

dict_values([101, 102, 103])

In [26]:
type(dict_key)

dict_keys

In [34]:
# 결과값을 list나 tuple로 변환가능
list_key = list(dict_key)
tuple_key = tuple(dict_key)
list_key, tuple_key

(['사과', '배', '딸기'], ('사과', '배', '딸기'))

In [35]:
fruit_code.items()

dict_items([('사과', 101), ('배', 102), ('딸기', 103)])

In [36]:
# update
fruit_code.update({"오렌지":104, "수박":105})
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '오렌지': 104, '수박': 105}